/* You can add global styles to this file, and also import other style files */
body{
	padding:0;
	background-color:#aaa;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.fixed{
	position: fixed;
}
.scrollbar-override::-webkit-scrollbar {
	width: 13px;
	height: 10px;
	overflow: hidden;
	transition:all 3s linear;
}
.scrollbar-override::-webkit-scrollbar-thumb{
	transition:all 3s linear;
}
.scrollbar-override:hover::-webkit-scrollbar-thumb:hover{
	background-color: #bbb;
	transition:all 3s linear;
}
.scrollbar-override:hover::-webkit-scrollbar-thumb{
	background-color: #ccc;
	transition:all 3s linear;
}