/* You can add global styles to this file, and also import other style files */
body{
	padding:0;
	background-color:#aaa;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.fixed{
	position: fixed;
}