<div class="tree-item" (click)="clickFile()" (dblclick)="dblclickFile()">  
  <div class="tree-item-indent relative" 
    [class.fileResourceActive]="fileActive()" 
    [style.textIndent]="indent+'em'" title="{{ title }}"
    (contextmenu)="showContextmenu()">
    <!--<div class="expanded-space"></div>-->
    <img [ngClass]="['tree-icon','file-type']" [src]="fileName|fileIcon:expanded" alt="">{{fileName}}
    <input
      *ngIf="false" 
      type="text" 
      [style.width]="'calc( 100% - '+(indent+3)+'em)'" 
      class="tree-file-input">
  </div>
</div>
