<div class="code-space absolute" style="" (click)="setSpaceIndex()">
    <div class="file-tab-wrap absolute scrollbar-override">
      <app-file-tab *ngFor="let tab of apiService.workSpace[index].files;let i = index;" 
        (dismiss)="dismiss(i)" 
        (selectFile)="selectFile(i)"
        [fileName]="apiService.workSpace[index].files[i].fileName"
        [active]="i == apiService.workSpaceActive[index]"
        [modelChanges]="apiService.workSpace[index].files[i].modelChanges">
        {{ tab }}
      </app-file-tab>
    </div>
  
    <!--旧-->
    <!--<div class="webview-wrap absolute" >
      <webview #webview style="width:100%; height:100%;" src="src/vs/index.html">			
      </webview>
    </div>-->
  
    <!--新-->
    <div class="webview-wrap absolute">
      <ng-container *ngFor="let file of apiService.workSpace[index].files;let i = index;">
        <app-monaco-space *ngIf="file.type=='text'&&apiService.workSpaceActive[index]==i" 
        [value]="file.value"
        [workspaceIndex]="index"
        [fileName]="file.fileName"
        [lang]="file.lang"
        [fileIndex]="i"></app-monaco-space>			
      </ng-container>
      <app-image-space [sapceIndex]="index"></app-image-space>   
    </div>        
  </div>
  
  