<div>
  <div class="tree-item">{{ apiService.projectDir }}</div>
  <div>
    <div *ngFor="let file of files;let i = index;">
      <!--目录-->
      <tree-dir *ngIf="file.type=='dir'" 
        [title]="file.fullPath"
        [dirName]="file.name" 
        [expanded]="file.expanded"
        [child]="file.child" 
        (fileSelect)="select($event)" 
        [indent]="1" 
        [paths]="[]" 
        [index]="i" 
        [pathsIndexs]="[]">
      </tree-dir>
      <!--文件-->
      <tree-file 
        *ngIf="file.type=='file'" 
        [fileName]="file.name"
        [title]="file.fullPath"
        [indent]="1" 
        (fileSelect)="select($event)" ></tree-file>
    </div>
  </div>  
</div>
