<div class="code-space absolute" style="">
	<div class="file-tab-wrap absolute scrollbar-override">
		<app-file-tab *ngFor="let tab of apiService.workSpace[0].files;let i = index;" 
			(dismiss)="dismiss(i)" 
			(selectFile)="selectFile(i)"
			[active]="i == apiService.workSpaceActive[0]">
			{{ tab }}
		</app-file-tab>
	</div>

	<!--旧-->
	<!--<div class="webview-wrap absolute" >
		<webview #webview style="width:100%; height:100%;" src="src/vs/index.html">			
		</webview>
	</div>-->

	<!--新-->
	<div class="webview-wrap absolute">
		<ng-container *ngFor="let file of apiService.workSpace[0].files;let i = index;">
			<app-monaco-space *ngIf="file.type=='file'&&apiService.workSpaceActive[0]==i" [value]="file.value"></app-monaco-space>
			<app-image-space *ngIf="file.type=='image'&&apiService.workSpaceActive[0]==i" [src]="file.src"></app-image-space>
		</ng-container>
		
	</div>
	
</div>

